@import "tailwindcss";

* {
  transition: all 0.25s ease-in-out;
  letter-spacing: 0.3px; /* ya jo spacing chahiye */
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  position: absolute;
  display: none;
}

/* Hide native date input icons globally */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  display: none;
  -webkit-appearance: none;
}

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}